<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->
<head>
        <link rel="stylesheet" href="/style/login.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      </head>
    <body>
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h5 class="card-title text-center">Forgot Password</h5>
                  <form class="form-signin" action="/account/forgot" method="POST">

                    <div class="form-label-group">
                        <input type="email" name="forgot_email" class="form-control" placeholder="" required>
                        <label for="inputPassword">Email</label>
                    </div>
      
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"> SUBMIT </button>
                            
                    </form>	
                
                    <label style="color: red;">{{#error2}}
                        {{message}}
                        {{/error2}}</label>
                    </form>
        
                    <label>{{#error3}}
                        <label  style="color: rgb(0, 255, 42);"> An Email Sent To:</label>
                        <label  style="color: red;">{{message}}</label>
                        {{/error3}}</label>
                    </form>    

                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>