<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
		<title>Login Form Tutorial</title>
		<style>
		.navigation {
            width: 100%;
            background-color: black;
        }

        .login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}

		img {
            width: 25px;
            border-radius: 50px;
            float: left;
        }

        .logout {
            font-size: .8em;
            font-family: 'Oswald', sans-serif;
                position: relative;
            right: -18px;
            bottom: -4px;
            overflow: hidden;
            letter-spacing: 3px;
            opacity: 0;
            transition: opacity .45s;
            -webkit-transition: opacity .35s;       
        }

        .button {
            text-decoration: none;
            float: right;
            padding: 12px;
            margin: 15px;
            color: white;
            width: 25px;
            background-color: black;
            transition: width .35s;
            -webkit-transition: width .35s;
            overflow: hidden
        }

        a:hover {
            width: 100px;
        }

        a:hover .logout{
            opacity: .9;
        }

        a {
            text-decoration: none;
        }

        table{border:2px solid red;
            overflow:auto;}
        th{border:2px solid black;
            background-color:skyblue;}
        td{border:1px dashed blue;}
        tr:hover{
    background-color:#ddd;
    cursor:pointer;
    }   
		</style>
	</head>
	<body>
<div class="login-form">
        <h1>Hello {{name}}</h1>
        <div>
            <form action="/account/search" method="POST">
            <input type="text" name="searchdata" placeholder="Search User" required>
            <input type="submit">
            </form>	
<div class="navigation">
    <a class="button" href="/account/profile">Profile
    </button>
    <a class="button" href="/account/upload">Upload Image
    </button>
    <br>
	<a class="button" href="/account">
  	<img src="https://www.pngfind.com/pngs/m/339-3396618_png-file-svg-log-out-icon-png-transparent.png">
  
  <div class="logout">LOGOUT</div>
    </a>  
</div>

<table style="width:100%;height:300px">
    <tr>
        <th>UserName</th> 
        <th>Email</th> 
        <th>Date</th> 
    </tr>
    {{#data}}
    <tr>
        <td>{{username}}</td>
        <td>{{email}}</td>
        <td>{{DATE_FORMAT(date_time,"%m/%d/%Y %H:%i")}}</td>

    </tr>
    {{/data}}
</table>

	</body>
</html>