<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>Profile Form Tutorial</title>
		<style>
		.register-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.register-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.register-form input[type="password"],
		.register-form input[type="text"],
    	.register-form input[type="email"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.register-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		.register-form input[type="re-register"] {
			width: 100%;
			text-align: center;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		button {
			width: 10%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}

		.btn {
		border: none; /* Remove borders */
		color: white; /* White text */
		font-size: 16px; /* Set a font size */
		cursor: pointer; /* Mouse pointer on hover */
		}

		/* Darker background on mouse-over */
		.btn:hover {
		background-color: RoyalBlue;
		}

		</style>
	</head>
	<body>
		
		<button> <a class="btn" href ="/account/home"><i class="fa fa-home"></i> Home </a></button>
		<h1>Hello {{username}}</h1>
		
		<div id="imgUrl"style="visibility: hidden">{{url}}</div>
		<h1>
		<img src="" id = "avartar" alt="Avartar" style="width:200px">
	</h1>
        <script>
            var url = document.getElementById("imgUrl");
            var img = document.getElementById("avartar");
            img.src = "/" + url.textContent; 
        </script>
       
		<div class="register-form">
			<h1>Upload Avartar Form</h1>
			<form action="/account/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="myImage" placeholder="Avartar" required>
		<br>
		<br>
		<input type="submit" value="upload">

		<br>
			<label style="color: red;">{{#error}}
				{{message}}
				{{/error}}</label>
			</form>	
			
			<label style="color: rgb(0, 255, 42);">{{#error1}}
				{{message}}
				{{/error1}}</label>
			</form>	
			
        </div>
	</body>
</html>